$dark-blue: #152938;

$primary-blue: #304859;
$primary-gray: #BCCED9;
$primary-white: #FCFCFC;
$primary-orange: #FDA214;

$menu-active: #152938;
$menu-hover: #6395B8;
$menu-idle: #BCCED9;

$primary-hover: #ffb74a;
$secondary-hover: #6395B8;

$secondary-blue: #7191A5;
$secondary-gray: #DFE7EC;